<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Notes </title>
    <link rel="stylesheet" href="{% static 'notes-style.css' %}">
</head>
<body>
    <div class="container">
        <div class="note-form">
            <h2>Create a Note</h2>
            <form method="post" action="{% url 'save-note' %}">
                {% csrf_token %}
                <input id="title" type="text" name="title" placeholder="Title" required>
                <textarea id="content" name="content" placeholder="Content" rows="5" required></textarea>
                <button type="submit">Save Note</button>
            </form>
        </div>
        <div class="notes-list">
            <h3>Notes</h3>
            <ul>
                {% for note in notes %}
                <li><a href="{{ note.id }}">{{ note.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>